@import '../bower_components/normalize.scss/normalize';
// ------------------------------------
//  COLOUR PALETTES
// ------------------------------------
// Current branding palette
$aqua: #2edfd2;
$forest: #00a030;
$goldfish: #ff8c00;
$lime: #9ee52c;
$petrol: #005361;
$barracuda: #0a80a0;
$bronze: #e5650e;
$putty: #f1f1ee;
$light-grey: #dbe3e4;
$dark-grey: #333;


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.learning-resources {
    width: 450px;
    background-color: $putty;
}

.learning-resources__header {
    background-color: $goldfish;
    padding-left: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.learning-resources__header__title {
    font-weight: normal;
    margin: 0;
    float: left;
}

.learning-resources__add-button {
    float: right;
    border: none;
    outline: none;
    background: none;
    padding: 0 14px;

    &:hover {
        color: $bronze;
    }
}

.learning-resources__header__title,
.learning-resources__add-button {
    font-size: 2em;
    color: #fff;
    line-height: 60px;
}

.learning-resources__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.learning-resources__resource {
    position: relative;
}

.learning-resources__resource__link {
    padding: 12px 38px 8px 16px;
    display: block;
    color: $dark-grey;
    text-decoration: none;
    border-bottom: 1px solid $light-grey;

    &:focus,
    &:hover {
        outline: none;
        background-color: #fff;
        font-weight: bold;
        padding-left: 24px;
    }
}

.learning-resources__resource__remove {
    border: none;
    background: none;
    position: absolute;
    top: 8px;
    right: 0;
    width: 32px;
    font-size: 1.5em;

    &:hover {
        color: $bronze;
    }
}
